*{
    margin: 0;
    padding: 0;
}

/* ------------HEADER Y FOOTER------------------------------------------------- */
header{
    padding: 10px;
    background-color: rgb(123, 90, 214);
    color: white; 
    list-style: none;
}
div.lista{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul{
    float: right;
    padding-top: 1%;
}
li{
    list-style-type: none;
    display: inline-block;
    margin-top: -25px;
    margin-right: 20px;
    font-family: Verdana;
}
li a{
    color:white;
    text-decoration: none;
}
#botonVerde{
    padding: 10px;
    background-color: rgb(46, 185, 46);
    border-radius: 5px;
    font-family: Verdana;
    border: 1px solid rgb(228, 228, 228);
}
#botonRojo{
    padding: 10px;
    background-color: rgb(185, 46, 46);
    border-radius: 5px;
    font-family: Verdana;
    border: 1px solid rgb(228, 228, 228);
}
footer{
    background-color:rgb(226, 226, 226);
    padding: 20px;
    height: 150px;
}
footer h2{
    margin-bottom: 10px;
}
footer a{
    font-size: 18px;
    color: black;
    text-decoration: none;
    
}
.centro{
    width: 80%;
    margin: auto;
}
.izq{
    margin-left: 10px;
}
.logoLink{
    height: 30px;
    margin: 5px;
    
}
.contacto{
    display:inline-block;
    width: 30%
}
.redesSociales{
    display:inline-block;
    text-align: center;
    width: 30%
}
.portfolio{
    display:inline-block;
    text-align: right;
    width: 30%
}
.logo{
    margin-right: 25%;
    display: inline;
}
.logoFondo{
    width: 20%;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 40px;
    margin-bottom: 40px;
    border: 2px, solid, black;
}
h1{
    display: inline;   
}
.presentacion h2{
    text-align: center;
    font-size: 40px;
}
.presentacion p{
    text-align: center;
    font-size: 20px;
    margin-bottom: 100px;
}


/* ------------LOGIN------------------------------------------------- */

.formLogin{
    margin: 10%;
    margin-left: 30%;
}

/* ------------INICIO------------------------------------------------- */

div.contact{
    margin: 0 auto;
    margin-top: 50px;
    width: 50%;
    margin-bottom: 15px;
}
.fotoPerfil{
    height: 200px;
    border: 2px, solid, black;
}
.datosPersonales{
    float: right;
    padding-top: 20px;
}
hr{
    width: 70%;
    margin-left: 15%;
    margin-bottom: 30px;
}
.tituloFormulario{
    text-align: center;
    font-size:large;
    margin-bottom: 30px;
}
.cajaFormulario{
    border: 1px rgb(177, 177, 177) solid;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    background-color: rgb(243, 243, 243);
    border-radius: 10px;
    padding: 15px;
    margin-top: 30px;
    margin-bottom: 60px;
    margin-left: 30%;
    margin-right: 30%;
}
.datosForm input, textarea{
    width: 95%;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    border: rgb(177, 177, 177), solid, 1px;
    padding: 5px;
    margin-top: 5px;
}
.datosForm button{
    width: 97%;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: white;
    border: rgb(6, 136, 211), solid, 1px;
    background-color: rgb(89, 196, 231);
    padding: 5px;
    margin-top: 5px;
}

/* ------------PROYECTOS------------------------------------------------- */

.tituloFiltro{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    
}
input.filtro{
    border-radius: 5px;
    min-height: 30px;
    width: 70%;
    border: 1px grey solid;
}
button.filtro{
    margin-left: 3%;
    border-radius: 5px;
    background-color: rgb(71, 178, 213);
    border: 0px;
    color: white;
    font-size: 16px;
    min-height: 35px;
    width: 15%;
}

.caja{
    border: 1px solid grey;
    border-radius: 10px;
    width: 28%;
    height: 330px;
    margin: 1%;
    margin-right: 2%;
    margin-left: 0px;
    display: inline-block;
    vertical-align: top;
}

.caja img{
    border-radius: 7px 7px 0px 0px;
}

.caja p,h3{
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 2px;
}

.estadisticas{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.estadisticasCuadros{
    margin-left: 27%;
}

.totalProyectos{
    background-color: rgb(83, 155, 83);
    color: white;
    display: inline-block;
    text-align: center;
    padding: 20px;
    margin-right: 15px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 300px;
}

.mediaTecnologias{
    background-color: rgb(59, 178, 218);
    color: white;
    display: inline-block;
    text-align: center;
    padding: 20px;
    margin: 15px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 300px;
}