*{
    margin: 0;
    padding: 0;
}

/* ------------HEADER Y FOOTER------------------------------------------------- */
header{
    padding: 30px;
    background-color: rgb(123, 90, 214);
    color: white; 
    list-style: none;
}
.centroHead{
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
}
.centro{
    width: 80%;
    margin: auto;
}
ul{
    float: right;
    padding-top: 1%;
}
li{
    list-style-type: none;
    display: inline-block;
    margin-right: 20px;
    font-family: Verdana;
}
li a{
    color:white;
    text-decoration: none;
}
.filtroCat {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #ffffff;
    padding: 12px 16px;
    border-radius: 8px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.40);
    font-family: Arial, sans-serif;
    width: fit-content;
    margin-bottom: 20px;
}
#botonAzul{
    padding: 10px;
    background-color: rgb(44, 112, 175);
    border-radius: 5px;
    font-family: Verdana;
    color: white;
    text-decoration: none;
    font-weight: 700;
    border: 1px solid rgb(228, 228, 228);
}
.botonesSobreTabla{
    margin-left: 60%;
}
table{
    width: 80%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    font-size: 14px;
    background-color: #ffffff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    overflow: hidden;
    margin-left: 10%;
    margin-bottom: 5%;
}
table th,
table td {
    padding: 12px 15px;
    text-align: left;
}
table th {
    font-weight: 600;
    letter-spacing: 0.5px;
    background-color: rgb(187, 187, 187);
}
.botonesTabla{
    display: flex;
    min-width: 80px;
    padding: 5px;
}
#botonVerde{
    padding: 10px;
    background-color: rgb(46, 185, 46);
    border-radius: 5px;
    font-family: Verdana;
    color: white;
    text-decoration: none;
    font-weight: 700;
    border: 1px solid rgb(228, 228, 228);
}
#botonRojo{
    padding: 10px;
    background-color: rgb(185, 46, 46);
    border-radius: 5px;
    font-family: Verdana;
    color: white;
    text-decoration: none;
    font-weight: 700;
    border: 1px solid rgb(228, 228, 228);
}

footer{
    background-color:rgb(226, 226, 226);
    padding: 20px;
    height: 150px;
}
footer h2{
    margin-bottom: 10px;
}
footer a{
    font-size: 18px;
    color: black;
    text-decoration: none;
    
}
.izq{
    margin-left: 10px;
}
.logoLink{
    height: 30px;
    margin: 5px;
    
}
.contacto{
    display:inline-block;
    width: 30%
}
.redesSociales{
    display:inline-block;
    text-align: center;
    width: 30%
}
.portfolio{
    display:inline-block;
    text-align: right;
    width: 30%
}
.logo{
    margin-right: 25%;
    display: inline;
}
.logoFondo{
    width: 20%;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 40px;
    margin-bottom: 40px;
    border: 2px, solid, black;
}
h1{
    display: inline;  
}
.presentacion h2{
    text-align: center;
    font-size: 40px;
}
.presentacion p{
    text-align: center;
    font-size: 20px;
    margin-bottom: 100px;
}